<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <a class="navbar-brand">School diary - Administrator view</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pupils']">Pupils</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['parents']">Parents</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['teachers']">Teachers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['admins']">Administrators</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['departments']">Departments</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['subjects']">Subjects</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['grades']">Grades</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['schedules']">Schedules</a>
    </li>
  </ul>

  <!--<ul class="navbar-nav ml-auto">-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link">About us</a>-->
    <!--</li>-->
  <!--</ul>-->
</nav>
